body{
    text-align: center;
    background-color: green;
    color: rgb(255, 208, 0);
}
.details{
    color: white;
}
button{
    background-color: rgb(255,208,1);
    width: 150px;
    height: 50px;
    margin: 5px;
}